<div class="row center-xs">
  <div class="colxs-8 col-md-6">
    <div class="box text-left">
      <h1>Regístrarse</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password, "Constraseña" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres minímo)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Registrarse", class: "form-control btn be-blue white" %>
        </div>
      <% end %>
      </br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>