<%# si la variable no la están mandando, creala con este valor%>
<% name_page ||= "Crear" %>
<h1><%= name_page %> artículo</h1>
<%# cuando form_for recibe un objeto que no está guardado en la base de datos, el post lo manda a create. SI ya existe lo manda update %>
<%= form_for(@article) do |f| %>
	<%# muestra las validaciones que no se pasaron
		se puede acceder a ella, por que en el create/update se dice que se renderice la vista "new"
	%>
	<% @article.errors.full_messages.each do |message| %>
		<div class="be-blue white field">
			* <%= message %>
		</div>
	<%end%>
	<div class="field">
		<%= f.text_field :title, placeholder: "Título", class:"form-control" %>
	</div>
	<div class="field">
		<%= f.text_area :body, placeholder: "Escríbe tu artículo aquí", style: "height:250px;", class:"form-control" %>
	</div>
	<div class="field">
		<%= f.submit "Guardar", class: "btn be-blue white" %>
	</div>
<% end %>