<%# @articles.inspect %>

<% @articles.each do | article | %>

<h1>Título: <%= link_to article.title, article %></h1>
<p>Cuerpo: <%= article.body %></p>
<p>Visitas: <%= article.visits_count %></p>
	<%= link_to "Eliminar", article, method: :delete, class: "btn be-blue white" %>
</br>
</br>
<% end %>