<div class="row center-xs">
  <div class="colxs-8 col-md-6">
    <div class="box text-left">
      <h1>Iniciar sesión</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password,"Contraseña" %><br />
          <%= f.password_field :password , autocomplete: "off", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Recordar mi contraseña" %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Iniciar sesión", class: "form-control btn be-blue white" %>
        </div>
      <% end %>
      </br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
