html, body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

a, a:visited{
	text-decoration:none; 
	color: inherit;
}
a:hover{
	color: red;
}
.btn{
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 15px;
}

.no-margin{
	margin: 0px;
}
#logo{
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
}
.no-list{
	list-style: none; 
}
.be-blue{
	background-color: #0D93FF;
}
.white{
	color: white !important;
}
.large-padding{
	padding: 2px 5px;
}

.field,.actions{
	margin-top: 1em;
}
.text-left{
	text-align: left;
}
.form-control{
	border:none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}